body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #FFEFD5;
}

.width-85 {
  width: 85%;
}

.create-button {
  z-index: 999999;
  right: .2rem;
  bottom: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.create-button>i:hover {
  transition: all .3s ease-in-out;
  transform: rotate(90deg);
}

.close-button {
  cursor: pointer;
}

.close-button:hover {
  scale: 1.1;
}

.notes-body {
  display: flex;
}

.create-task,
.update-task {
  display: none;
  z-index: 999999;
  width: 100%;
  min-height: 90vh;
  top: 10vh;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  backdrop-filter: blur(20px);
}

.create-task>form>div>input,
.update-task>form>div>input {
  border: none;
  border-radius: 10px;
  font-size: large;
  padding: 1rem;
}

.create-task>form>div>textarea,
.update-task>form>div>textarea {
  min-height: 50vh;
  border: none;
  border-radius: 10px;
  font-size: small;
  padding: 1rem;
}

.create-task>form>button,
.update-task>form>button {
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #000021;
  background: #1de9b6;
  line-height: 1.15;
  font-size: 20px;
}

.create-task>form>button:hover,
.update-task>form>button:hover {
  transition: all .2s ease;
  background: violet;
  scale: 1.1;
}

.task {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  min-width: 15rem;
}

.task>h2 {
  font-family: 'Roboto', sans-serif;
}

.task>p {
  max-height: 40vh;
  overflow: auto;
  text-align: justify;
  font-family: 'Crimson Text', serif;
  font-family: 'Quicksand', sans-serif;
}

.task:hover {
  transition: all .2s ease-in-out;
  background-color: azure;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border: none;
}

.delete-button:hover,
.edit-button:hover {
  scale: 1.3;
}

#task-list {
  max-height: 80vh;
  overflow: auto;
}

.add-note-toast-message,
.update-note-toast-message,
.delete-note-toast-message {
  display: none;
  z-index: 999999;
  background-color: aqua;
  width: 70vw;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  transition: all .3s ease-in-out;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  cursor: pointer;
  animation: fadeOut 4s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.add-note-toast-message>p,
.update-note-toast-message>p,
.delete-note-toast-message>p {
  padding: .75rem 0 0 0;
}

.check-box {
  backdrop-filter: blur(10px);
  display: none;
  cursor: pointer;
  z-index: 999999;
  width: 100%;
  height: 100%;
}

.check-box button {
  padding: 1rem;
  border: none;
}

.check-box button:hover {
  transition: all .1s ease-in-out;
  background-color: #1de9b6;
  color: white;
  scale: 1.1;
  border-radius: 10px;
}

@media screen and (min-width:375px) {
  .task {
    min-width: 17rem;
  }
}

@media screen and (min-width:900px) {

  .add-note-toast-message,
  .update-note-toast-message,
  .delete-note-toast-message {
    width: 20vw;
  }

  .create-button {
    right: 1rem;
  }

  .task>p {
    max-height: 15vh;
    overflow: auto;
    text-align: justify;
    font-size: 1.3rem;
  }

  .create-task,
  .update-task {
    width: 80%;
    min-height: 70vh;
  }
}